/**
 * 弹框
 */
.ui-dialog {
	width: 640px*$n750_640;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.3);
	top: 0px*$n750_640;
	left: 50%;
	margin-left: -320px*$n750_640;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	top: -100%;
	z-index:10;
	opacity: 0;
}

.ui-dialog-main {
	width: 540px*$n750_640;
	margin: 0 auto;
	background: #fafafc;
	border-radius: 12px*$n750_640;
	overflow: hidden;
}

.ui-dialog-hd {
	// font-size: 34px*$n750_640;
	// line-height: 40px*$n750_640;
	// color: #000;
	// padding-top: 30px*$n750_640;
	// text-align: center;

	font-size: 32px;
	padding:22px 0 0;
	line-height:45px;
	// height:100px;
	// line-height:100px;
	color:#333;
	text-align: center;
}

.ui-dialog-bd {
	 font-size: 28px;
	 line-height: 38px;
	 padding: 20px 40px;
	 text-align: center;
	 color: #666;
	
}

.ui-dialog-ft {
	// display: -webkit-box;
	// -webkit-box-orient: horizontal;
	// width: 100%;
	// height: 89px*$n750_640;
	// margin-top: 10px*$n750_640;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 100%;
	height: 78px;
	line-height:78px;
	font-size: 32px;
	color:#333;

}

.ui-dialog-btn {
	-webkit-box-flex: 1;
	width: 1%;
	height: 100%;
	border: none;
	// border-top: 1px solid #ddd;/*no*/
	display: block;
	background: #fff;
}

.ui-dialog-btn:active {
	background: #e8e8e8;
}

.ui-dialog-btn:last-child {
	// border-left: 1px solid #ddd;/*no*/
}

.ui-dialog-btn:first-child {
	border-left: none;
}

.ui-dialog-show {
	top: 0px*$n750_640;
	opacity: 1;
}

.ui-dialog-show .ui-dialog-main {
	-webkit-animation: zoomIn 0.3s;
}
.ui-dialog-confirm{
	color:$mainColor!important;
}