.icon-go-back {
  background-size:100% 100%;
  background-image: url(../images/i-go-back.png);
  width: 23px;
  height: 40px;
}

  .shop-tel{
      width:42px;
      height:42px;
      background: url("../images/shop-tel.png") no-repeat;
  }

    .shop-arrow-r{
      width:14px;
      height:23px;
      background: url("../images/arrow-r2.png") no-repeat;
  }

.shop-footer-bg{
  width:716px;
  margin:0 auto;
  height:35px;
  background: url("../images/detail-footer-bg.png") no-repeat;
  //margin-bottom:30px;
  //-moz-box-shadow:2px 2px 20px #333333; -webkit-box-shadow:2px 2px 20px #333333; box-shadow:2px 2px 20px #333333;

  }

.fuli-btn{
  width:608px;
  height:92px;
  background: url("../images/fuli-btn.png") no-repeat;
}

.fuli-btn-shangjia{
  width:608px;
  height:92px;
  background: url("../images/fuli-btn-shangjia.png") no-repeat;
}

.fuli-btn-border{
  width:608px;
  height:92px;
  background: url("../images/fuli-btn-border.png") no-repeat;
  color:#ffa800;
}

.fuli-btn-gray{
  width:608px;
  height:92px;
  background: url("../images/fuli-btn-gray.png") no-repeat;
  color:#b6b6b6;
}
.i-shop{
  width:32px;
  height:28px;
  background: url("../images/i-shop.png") no-repeat;
}
.i-success{
  width:40px;
  height:40px;
  background: url("../images/i-success.png") no-repeat;
}

.i-used{
  width:236px;
  height:236px;
  background: url("../images/i-used.png") no-repeat;
}
.i-date-out{
  width:236px;
  height:236px;
  background: url("../images/i-date-out.png") no-repeat;
}
.i-eat-up{
  width:236px;
  height:236px;
  background: url("../images/i-eat-up.png") no-repeat;
}

.i-more{
  width:24px;
  height:24px;
  background: url("../images/i-more.png") no-repeat;
}
.i-more-up{
  width:24px;
  height:24px;
  background: url("../images/i-up.png") no-repeat;
  //background-size: 100% 100%;
}

.i-noresult{
  width:192px;
  height:193px;
  background: url("../images/noresult.png") no-repeat;
}

.i-noresult2{
  width:192px;
  height:193px;
  background: url("../images/i-noresult.png") no-repeat;
}

.icon-close {
  background-size:100% 100%;
  background-image: url(../images/close-action.png);
  width: 31px;
  height: 32px;
  display: block;
}
.icon-toTop{
  background-size:100% 100%;
  background-image: url(../images/i-toTop.png);
  display: block;
  width: 74px;
  height: 74px;
}
.icon-circle{
  background-size:100% 100%;
  background-image: url(../images/i-circle.png);
  display: block;
  width: 74px;
  height: 74px;
}

