.ui-loading {text-align: center;padding:20px*$n750_640;}
.ui-loading-top {text-align: center;padding:20px*$n750_640;}
.ui-loading-icon {width: 60px*$n750_640;height: 60px*$n750_640;background: url(../images/loading.png) no-repeat center;vertical-align: middle;background-size: 100% 100%;margin:0 auto;}
.ui-loading-icon {-webkit-animation:ui-loading-animate 1s linear infinite;}
.ui-loading-text {font-size:24px*$n750_640;color:#999;line-height: 50px*$n750_640;}
.ui-loading-inline .ui-loading-icon,.ui-loading-inline .ui-loading-text {display: inline-block;}
.ui-loading-inline .ui-loading-text {margin-left: 10px*$n750_640;line-height: 60px*$n750_640;}


@-webkit-keyframes ui-loading-animate {
	from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ui-dialog-tips {background:none;}
.ui-dialog-tips .ui-dialog-hd,.ui-dialog-tips .ui-dialog-ft {display: none;}
.ui-dialog-tips .ui-dialog-main {width: 160px*$n750_640;height: 160px*$n750_640;background:rgba(0,0,0,0.6);}
.ui-dialog-tips .ui-dialog-main .ui-dialog-bd {width: 100%;height: 100%;padding:0px*$n750_640;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center;}
.ui-dialog-tips.ui-dialog-show .ui-dialog-main {-webkit-animation:none;}

.ui-dialog-tips-icon {width: 80px*$n750_640;height: 80px*$n750_640;position: relative;}
.ui-dialog-tips-icon:before,.ui-dialog-tips-icon:after {content:" ";display: block;position: absolute;background: #fff;width: 10px*$n750_640;-webkit-transform-origin: left top;/*opacity: 0.5;*/}
.ui-dialog-tips-text {font-size: 24px*$n750_640;color:#fff;line-height: 24px*$n750_640;height: 24px*$n750_640;overflow: hidden;margin-top: 20px*$n750_640;}

#ui-loading .ui-dialog-tips-icon {border-radius: 50%;border: 10px*$n750_640 solid rgba(255, 255, 255, 0.2);border-left-color:#fff;margin:0 auto; -webkit-animation:rotate 0.8s infinite linear;}
#success .ui-dialog-tips-icon:before {height: 40px*$n750_640;left:-3px*$n750_640;top:42px*$n750_640;-webkit-transform: rotate(-45deg);-webkit-animation:h40 0.3s both;}
#success .ui-dialog-tips-icon:after {left:26px*$n750_640;top:70px*$n750_640;height: 80px*$n750_640;-webkit-transform: rotate(-135deg);-webkit-animation:h80 0.3s 0.3s both;}

#error .ui-dialog-tips-icon:before {height: 80px*$n750_640;left:8px*$n750_640;top:15px*$n750_640;-webkit-transform: rotate(-45deg);-webkit-animation:h80 0.3s 0s both;}
#error .ui-dialog-tips-icon:after {height: 80px*$n750_640;left:65px*$n750_640;top:8px*$n750_640;-webkit-transform: rotate(45deg);-webkit-animation:h80 0.3s 0.3s both;}

@-webkit-keyframes h40 {
  0% {
    height: 0;
  }
  100% {
    height: 40px*$n750_640;
  }
}

@-webkit-keyframes h80 {
  0% {
    height: 0;
  }
  100% {
    height: 80px*$n750_640;
  }
}
